*{margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: 宋体;
}
/*控制所有a标签*/
a{
    text-decoration: none;
}
/*顶部欢迎区域*/
#top-header{
    color: #808080;
    height: 33px;
    width: 1350px;
    line-height: 33px;
    background: #F7F7F7;
    margin: 0px auto;
    position: relative;
    /*border: solid 1px green;*/
}
/*顶部欢迎左区域*/
#top-header .top-header-left{
    width: 470px;
    height: 33px;
    float: left;
}
#top-header .welcome,.login,.resign,.my-order,.collection{
    float: left;
}
#top-header .welcome{
    width: 150px;
    height: 33px;
    padding-left: 72px;
}
#top-header .login{
    width: 56px;
    height: 33px;
}
#top-header .login span{
    padding-left: 14px;
    width: 16px;
    height: 33px;
}
#top-header a{
    color: #808080;
}
#top-header .resign{
    width: 38px;
    height: 33px;
}
#top-header .my-order{
    width: 63px;
    height: 33px;
}

#top-header .top-header-right {
    float:right;
 }
#top-header .top-header-right .my{
    /*display: block;*/
    float: left;
    list-style: none;
    width: 70px;
    height: auto;
    text-align: center;
    margin-left: 2px;
    border: #F7F7F7 solid 1px;
    margin-top: 5px;
    position:relative;
    /*position: absolute;*/
    /*padding-top: -7px;*/
}
#top-header .top-header-right .my a{
    float: left;
    display: block;
    height: 18px;
    width: 69px;
    margin-top: -7px;
    text-align: center;
    background: url("../img/vanclsprite.png") no-repeat 57px 9px;
}
#top-header .top-header-right .my div.second{
    float: left;
    display: none;
    margin-top: 5px;
    background: white;
    /*position: relative;*/
}
#top-header .top-header-right .my div.second a{
    float: left;
    background: none;
    padding-bottom: 7px;
    /*position: relative;*/
}
#top-header .top-header-right .other{
    float: left;
}
#top-header .top-header-right .other1,#top-header .top-header-right .other2{
    float: left;
    height: 30px;
    width: 85px;
    list-style: none;
    text-align: center;
    /*background: url("../img/vanclsprite.png") no-repeat 68px -20px;*/
    /*border: red solid 1px;*/
}
#top-header .top-header-right .other1{
    background: url("../img/vanclsprite.png") no-repeat 68px -20px;
}
#top-header .top-header-right .other2{
    background: url("../img/customer_2.png") no-repeat 69px 8px;
}
#top-header .top-header-right .add{
    width: 130px;
    height: 33px;
    float: left;
    background: url("../img/vanclsprite.png") no-repeat -27px -20px;
    margin-left: 90px;
    /*padding-left: 90px;*/
}
/*a标签悬停变红*/
#top-header .top-header-right a:hover{
    color: #A10000;
}
/*促销信息图片*/
/*#middle-header{*/
    /*margin-top: 30px;*/
/*}*/
#middle-header .promotion{
    display: block;
    /*margin: 0px auto;*/
    width: 1350px;
    height: 52px;
    position: absolute;
    top: 34px;
    left: 7px;
    z-index: -1;
    /*top: -10px;*/
    /*margin-top: -30px;*/
    /*padding-bottom: 30px;*/
    /*border: solid 1px black;*/
}
