*{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: 宋体;
}
/*body{*/
    /*height: 3200px;*/
/*}*/
/*控制所有a标签*/
a{
    text-decoration: none;
}
/*顶部欢迎区域*/
#top-header{
    color: #808080;
    height: 33px;
    width: 1350px;
    line-height: 33px;
    background: #F7F7F7;
    margin: 0px auto;
    position: relative;
}
/*顶部欢迎左区域*/
#top-header .top-header-left{
    width: 470px;
    height: 33px;
    float: left;
}
#top-header .welcome,.login,.resign,.my-order,.collection{
    float: left;
}
#top-header .welcome{
    width: 150px;
    height: 33px;
    padding-left: 72px;
}
#top-header .login{
    width: 56px;
    height: 33px;
}
#top-header .login span{
    padding-left: 14px;
    width: 16px;
    height: 33px;
}
#top-header a{
    color: #808080;
}
#top-header .resign{
    width: 38px;
    height: 33px;
}
#top-header .my-order{
    width: 63px;
    height: 33px;
}

#top-header .top-header-right {
    float:right;
 }
#top-header .top-header-right .my{
    float: left;
    list-style: none;
    width: 70px;
    height: auto;
    text-align: center;
    margin-left: 2px;
    border: #F7F7F7 solid 1px;
    margin-top: 5px;
    position:relative;
}
#top-header .top-header-right .my a{
    float: left;
    display: block;
    height: 18px;
    width: 69px;
    margin-top: -7px;
    text-align: center;
    /*background: url("../img/vanclsprite.png") no-repeat 57px 9px;*/
}
div.second{
    float: left;
    /*top: 15px;*/
    position: absolute;
    display: none;
    /*margin-top: 5px;*/
    padding-top: 15px;
    background: white;
    border:#A10000 solid 1px;
    /*border-bottom: #A10000 solid 1px;*/
    /*border-left: #A10000 solid 1px;*/
    /*border-right: #A10000 solid 1px;*/
    z-index: 3;
    border-radius: 2px;
}
.first{
    position: absolute;
    z-index: 4;
    background: url("../img/vanclsprite.png") no-repeat 57px 9px;
}
div.second a{
    float: left;
    background: none;
    padding-bottom: 7px;
    display: block;
    /*border: darkblue 1px solid;*/
}
#top-header .top-header-right .other{
    float: left;
}
#top-header .top-header-right .other1,#top-header .top-header-right .other2{
    float: left;
    height: 30px;
    width: 85px;
    list-style: none;
    text-align: center;
}
#top-header .top-header-right .other1{
    background: url("../img/vanclsprite.png") no-repeat 68px -20px;
}
#top-header .top-header-right .other2{
    background: url("../img/customer_2.png") no-repeat 69px 8px;
}
#top-header .top-header-right .add{
    width: 130px;
    height: 33px;
    float: left;
    background: url("../img/vanclsprite.png") no-repeat -27px -20px;
    margin-left: 90px;
}
/*a标签悬停变红*/
#top-header .top-header-right a:hover{
    color: #A10000;
}
#middle-header .promotion{
    display: block;
    width: 1350px;
    height: 52px;
    position: absolute;
    top: 34px;
    left: 7px;
    z-index: -1;
}
header #search{
    width: 1350px;
    height: 94px;
    margin: 53px auto;
    line-height: 94px;
    position: relative;
}
header #search .search-logo{
    float: left;
    display: block;
    height: 41px;
    width: 159px;
    margin-top: 26px;
    margin-left: 100px;
    background: url("../img/vanclsprite.png") no-repeat 0px -59px;
}
header #search #search-form{
    position: absolute;
    width: 1084px;
    height: 92px;
    /*margin-left: 454px;*/
    left: 700px;
    /*z-index: 1;*/
}
header #search ul{
    float: left;
    position: absolute;
    cursor: pointer;
    top: 68px;
    left: 710px;
    /*height: 27px;*/
    /*width: 327px;*/
    /*border: solid 1px slategrey;*/
}
header #search ul li{
    float: left;
    list-style: none;
    padding-left: 10px;
    line-height: 27px;
    /*border: red 1px solid;*/
    color: #808080;

}
header #search ul li a{
    color: #808080;
}

header #search #search-form .search-input{
    width: 392px;
    height: 31px;
    top: 24px;
    searchposition: absolute;
    border: #C9CACA solid 1px;
    /*z-index: 2;*/
}
header #search #search-form .search-submit{
    width: 50px;
    height: 30px;
    background: url("../img/vanclsprite.png") no-repeat -99px -1px;
    position: absolute;
    top: 26px;
    left: 395px;
    /*border: #CACDCD solid 1px;*/
}
nav#nav-bar{
    width: 1250px;
    height: 50px;
    margin: -50px auto;
}
nav#nav-bar a.all{
    display: block;
    float: left;
    width: 260px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    font-size: 17px;
    text-align: center;
    font-family: "Microsoft Yahei";
    background:  #B81C22;
}
nav#nav-bar ul{
    float: left;
}
nav#nav-bar li{
    float: left;
    list-style: none;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background: #EFEFEF;
}
nav#nav-bar li a{
    font-size: 16px;
    font-family: "Microsoft Yahei";
    color: #727171;
}
#navBarDetailLeft{
    float: left;
    width:440px;
    height: 145px;
    position: relative;
    margin-top: 20px;
    border-right: #DBDBDD solid 1px;
}
#navBarDetailRight{
    float: right;
    width:440px;
    height: 145px;
    position: relative;
    margin-top: 20px;
}
.navBarDetailImg{
    height: 133px;
    width:133px;
    display: block;
    float: left;
    position: absolute;
    left: 74px;
    top: 10px;
}
.navBarDetailA{
    font-size: 16px;
    font-weight: bolder;
    display: block;
    position: absolute;
    left: 204px;
    color: #727171;
}
.navBarDetailP{
    width: 152px;
    line-height: 16px;
    height: auto;
    position: absolute;
    left: 201px;
    top: 51px;
    text-align: left;
    color: #999999;
    font-size: 12px;
}
.navBarDetailPP{
    position: absolute;
    top: 93px;
    left: 206px;
    color: #b81c22;
    font-size: 16px;
    line-height: 30px;
}

nav#nav-left{
    float: left;
    width: 260px;
    height: 480px;
    margin-top: 70px;
    margin-left: 50px;
}
nav#nav-left .men-wear fieldset{
    border:  #C8C8C9 solid 1px;
    border-bottom: white solid 1px;
    margin-bottom: 8px;
}
nav#nav-left .men-wear legend{
    font-size: 14px;
    color: #b81c22;
    margin-left: 39px;
}
nav#nav-left .men-wear dt{
    color: rgb(163, 162, 162);
    font-family: "Microsoft Yahei";
    font-size: 14px;
    margin-left: 39px;
    margin-top: 12px;
}
nav#nav-left .men-wear a{
    color:#333;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    text-align:center ;
}
nav#nav-left .men-wear a:hover{
    background: #EDEEEE;
    color: #b81c22;
}
nav#nav-left .men-wear dd{
    line-height: 22px;
    padding-left: 35px;
}
nav#nav-left .men-wear dd.dd-down{
    padding-bottom: 10px;
    border-bottom: #C8C8C9 solid 1px;
}
div#carousel{
    float:left;
    height: 497px;
    width:728px;
    margin-top: 97px;
    margin-left: 18px;
    /*border: green 1px solid;*/
    background: no-repeat;
}
div#carousel ul{
    width: 122px;
    height: 11px;
}
div#carousel ul li{
    list-style: none;
    float: left;
    height: 12px;
    width: 12px;
    margin-left: 8px;
    position: relative;
    left: 292px;
    top: 430px;
}
div#carousel ul li a{
    display: block;
    height: 12px;
    width: 12px;
    background: #1E1E1E;
    border-radius: 50%;
}
div#carousel ul li a:hover{
    background: #A10000;
}
div#nav-right{
    float:right;
    height: 518px;
    width: 210px;
    margin-top: 77px;
    margin-right: 80px;
    /*border: #C9C9C9 solid 1px;*/
    /*border: red solid 1px;*/
}
div#nav-right div{
    height: 259px;
}
div#nav-right div.nav-right-bottom{
    border-top: solid 1px #C9C9C9;
}
#content{
    float: left;
    /*margin-top: 30px;*/
    /*margin-left: 109px;*/
}
#content h2{
    font-family: "Microsoft Yahei";
    font-size: 17px;
    color: #595757;
    line-height: 40px;
    width: 1110px;
    /*display: block;*/
    margin-top: 30px;
    margin-left: 69px;
    /*border: red solid 1px;*/
}
#content .content-recommended{
    width: 1219px;
    margin-left: 70px;
    float: left;
    height: 545px;
    /*border: green solid 1px;*/
}
footer{
    /*border: red solid 1px;*/
    /*font-family: "Microsoft Yahei", serif;*/
    float: left;
    /*margin-left: 70px;*/
    width: 1185px;
    height: 190px;
    /*margin: 0px auto;*/

}
footer ul.fanke-footer{
    list-style: none;
    height: 190px;
    width: 1182px;
    /*line-height: 190px;*/
    margin-left: 70px;
    margin-top: 38px;
    border: #E0E0E1 solid 1px;
}
footer ul.fanke-footer li{
    margin-top: 31px;
    float: left;
    height: 138px;
    width: 195px;
    border-left: #E0E0E1 solid 1px;
    text-align: center;
}
footer ul.fanke-footer li h1{
    font-size: 13px;
    font-weight: 400;
    height: 36px;
    font-family: "Microsoft Yahei", serif;
}
footer ul.fanke-footer li p{
    font-size: 12px;
    height: 23px;
    /*font-family: "Microsoft Yahei", serif;*/
}
footer ul.fanke-footer li p a{
    color: #595757;
    font-family: "Microsoft Yahei", serif;
}
footer ul.fanke-footer li p a:hover{
    color: #A10000;
}
footer ul.footer-statement{
    height: 52px;
    width: 1182px;
    margin-left: 60px;
    /*border: solid green 1px;*/
}
footer ul.footer-statement li{
    float: left;
    height: 52px;
    width: 293px;
    list-style: none;
    /*border: red solid 1px;*/
}
footer ul.footer-statement li.footer-statement-1{
    background: url("../img/vanclsprite.png") no-repeat 65px -110px;
}
footer ul.footer-statement li.footer-statement-2{
    background: url("../img/vanclsprite.png") no-repeat 65px -150px;
}
footer ul.footer-statement li.footer-statement-3{
    background: url("../img/vanclsprite.png") no-repeat 65px -190px;
}
footer ul.footer-statement li.footer-statement-4{
    background: url("../img/vanclsprite.png") no-repeat 65px -230px;
}
/*footer li .footer-content{*/
    /*margin-top: 31px;*/
/*}*/
footer .footer-bottom,footer .footer-bottom p{
    color: #3e3a39;
    padding-top: 5px;
    font-family: "Microsoft YaHei";
}
footer .footer-bottom{
    width: 1355px;
    height: 34px;
    text-align: center;
    border-top: solid 1px #3E3A39;
    float: left;
    /*color: #3e3a39;*/
    /*padding-top: 5px;*/
    /*font-family: "Microsoft YaHei";*/
}
footer .sub-footer{
    float: left;
    margin-left: 300px;
    margin-top: 12px;
    margin-bottom: 26px;
    /*border: red solid 1px;*/
}
footer .sub-footer li{
    float: left;
    list-style: none;
    margin-left: 21px;
}
footer .sub-footer-1{
    height: 42px;
    width: 113px;
    background: url("../img/spritesbgtop.png") no-repeat 0px -581px;
    /*border: solid 1px pink;*/
}
footer .sub-footer-2{
    height: 45px;
    width: 156px;
    background: url("../img/spritesbgtop.png") no-repeat 0px -629px;
    /*border: solid 1px pink;*/
}
footer .sub-footer-3{
    height: 42px;
    width: 96px;
    background: url("../img/spritesbgtop.png") no-repeat 0px -674px;
    /*border: solid 1px pink;*/
}
footer .sub-footer-4{
    height: 42px;
    width: 101px;
    background: url("../img/spritesbgtop.png") no-repeat -97px -674px;
    /*border: solid 1px pink;*/
}
footer .sub-footer-5{
    height: 42px;
    width: 42px;
    background: url("../img/spritesbgtop.png") no-repeat -200px -674px;
    /*border: solid 1px pink;*/
}
footer .sub-footer-6 img{
    height: 39px;
    width: 120px;
    /*background: url("../img/kexin_brand_for_others.png") no-repeat 0px 0px;*/
    /*border: solid 1px pink;*/
}