body{
    font-family:Helvetica;
    background:white;
    text-align:center;
    background:url(./image/body.png) repeat-x;
}
table
{
    border-collapse:separate;
    border:1px solid #9DABCE;
    border-width:0px 0px 1px 1px;
    margin:10px auto;
    font-size:20px;
}
.aorange {
    color: #ff5f07;
}
.spc {
    color:#ff5f07;
}

div,select,p {
    font-size: 12px;
    color:#000;
    text-align: center;
}

div#festival {
    width: 163px;
    height: 163px;
}

#datedetail {
    width: 163px;
    height: 235px;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #888888;
    line-height:20px;
}

#datedetail p{
    padding-top: 5px;
    font-size: 13px;
    letter-spacing:1px;
}
div#detail {
    float: left;
}

div#date {
    clear:both;
    padding-top:0 !important;
    padding-top:12px;
    width:690px;
    height:40px !important;
    height:28px;
    font-size:16px;
    border: 1px solid #a6a8ab;
    background-color: transparent;
}

div#calendar {
    float:left;
    text-align:center;
    width:690px;
    border: 1px solid #a6a8ab;
    border-top:0;
    height:auto;
}

table
{
    border-collapse:collapse;
    border:1px solid #9DABCE;
    border-width:0px 0px 1px 1px;
    margin:10px auto;
    font-size:20px;
    table-layout:fixed;
    width:527px;
}

td, th
{
    width:61px;
    height:41px;
    text-align:center;
    vertical-align:middle;
    background-image:url(./image/cells.png);
    color:#444;
    cursor:pointer;
}

th
{
    font-weight:bold;
}

.two
{
    font-size:6px;
    width:61px;
    height:20px;
    font-family:Helvetica;
}

div#panel {
    margin:0;
    padding:10px;
    float:left;
}
div#panel div {
    padding:2px;
    margin-top:10px;
    background:#e8f5f9;
    border:1px solid #a6a8ab;
    font-size:12px;
    cursor:pointer;
}

#week {
    background-color: #fcfcfc;
    border:0;
    padding:0;
    margin:0;
    float: left;
}

.prev-next{
    width: 20px;
    height: 19px;
    border-radius:4px;
    color: white;
    font-weight: bold;
    background-color: #708090;
    border-color: #708090;
}
#sy,#sm,.holiday-arrange{
    width: 60px;
    height: 18px;
    color: #000000;
    font-family: sans-serif;
    border-radius:2px;
    /*text-align: center;*/
}

.return-now-date{
    background-color: #708090;
    border-color: #708090;
    color: white;
    font-weight: bold;
    border-radius:4px;
}

#detail-date{
    float:left;
    height:50%;
}

.good-bad{
    float:left ;
    height:50%;
    margin-top: 100px;
}

.datedetail1{
    padding-top: 20px;
}

#now-time{
    font-family:Arial,Helvetica,sans-serif;
    font-size:16px;
    letter-spacing:3px;
    height:20px;
    line-height:2px;
    margin:5px auto;
    width:30px;
    font-weight: bold;
    color: #009FCC;
}

#now-time-title{
    font-family:Arial,Helvetica,sans-serif;
    font-size:16px;
    letter-spacing:3px;
    height:20px;
    line-height:2px;
    padding-left: 50px;
    width:30px;
    font-weight: bold;
    color: #009FCC;
}